# Customer Churn Model Using ANN

Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

Data Preprocessing

In [ ]:
data =pd.read_csv('/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

Encoding categorical Data

In [ ]:
Gender = pd.get_dummies(data['Gender'], prefix='Sex',drop_first=True)
data = pd.concat([data,Gender], axis = 1)
data.drop(columns=['Gender'], axis =1, inplace=True)
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Sex_Male
0,1,15634602,Hargrave,619,France,42,2,0.00,1,1,1,101348.88,1,0
1,2,15647311,Hill,608,Spain,41,1,83807.86,1,0,1,112542.58,0,0
2,3,15619304,Onio,502,France,42,8,159660.80,3,1,0,113931.57,1,0
3,4,15701354,Boni,699,France,39,1,0.00,2,0,0,93826.63,0,0
4,5,15737888,Mitchell,850,Spain,43,2,125510.82,1,1,1,79084.10,0,0

In [ ]:
Geography = pd.get_dummies(data['Geography'], prefix='Country', drop_first=True)
data = pd.concat([data,Geography], axis = 1)
data.drop(columns=['Geography'], axis =1, inplace=True)
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Sex_Male,Country_Germany,Country_Spain
0,1,15634602,Hargrave,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,2,15647311,Hill,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,3,15619304,Onio,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,4,15701354,Boni,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,5,15737888,Mitchell,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

Splitting the Dataset into Dependent and Independent Variables & Training and Test Set

In [ ]:
X = data[['CreditScore','Country_Germany', 'Country_Spain','Sex_Male','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember', 'EstimatedSalary']].values
y = data['Exited'].values

In [ ]:
print(X)
print(y)

[[6.1900000e+02 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.0134888e+05]
 [6.0800000e+02 0.0000000e+00 1.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 1.1254258e+05]
 [5.0200000e+02 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.1393157e+05]
 ...
 [7.0900000e+02 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 4.2085580e+04]
 [7.7200000e+02 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 9.2888520e+04]
 [7.9200000e+02 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 3.8190780e+04]]
[1 0 1 ... 1 1 0]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
#y_train = np.asarray(y_train).astype('float32').reshape((-1,1))
#y_test = np.asarray(y_test).astype('float32').reshape((-1,1))

In [ ]:
print(X_train)

[[-1.01460667 -0.5698444   1.74309049 ...  0.64259497 -1.03227043
   1.10643166]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497  0.9687384
  -0.74866447]
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   1.41231994]
 [-1.01460667 -0.5698444   1.74309049 ...  0.64259497  0.9687384
   0.84432121]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497 -1.03227043
   0.32472465]]

Buiding an Artificial Neural Network

In [ ]:
ann= tf.keras.models.Sequential()

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu')) #first layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu')) #second Layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid')) #output layer

In [ ]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7960
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4710 - accuracy: 0.7999
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4441 - accuracy: 0.8048
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4328 - accuracy: 0.8066
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4253 - accuracy: 0.8081
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4188 - accuracy: 0.8080
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4132 - accuracy: 0.8116
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4075 - accuracy: 0.8155
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4022 - accuracy: 0.8180
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3975 - accuracy: 0.8198
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3929 - accuracy: 0.8220
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3885 - accuracy: 0.8255
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3845 - accuracy: 0.8292
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3809 - accuracy: 0.8331
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3776 - accuracy: 0.8342
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3748 - accuracy: 0.8379
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3718 - accuracy: 0.8406
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3690 - accuracy: 0.8419
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3660 - accuracy: 0.8432
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3642 - accuracy: 0.8460
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3617 - accuracy: 0.8465
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3598 - accuracy: 0.8480
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3578 - accuracy: 0.8499
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3558 - accuracy: 0.8505
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3542 - accuracy: 0.8530
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3526 - accuracy: 0.8544
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3513 - accuracy: 0.8547
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3500 - accuracy: 0.8560
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3492 - accuracy: 0.8562
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8565
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3476 - accuracy: 0.8580
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8583
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3462 - accuracy: 0.8581
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3452 - accuracy: 0.8596
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8595
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8604
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8595
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3427 - accuracy: 0.8602
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8599
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8611
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8615
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8597
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8622
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8612
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8618
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8622
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8633
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8616
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8626
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8626
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8615
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8614
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8625
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8631
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8626
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8640
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8646
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8640
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8644
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8639
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8635
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8630
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8641
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8640
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8644
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8636
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8648
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8636
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8645
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8637
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8654
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8646
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8629
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8640
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8639
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8633
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8622
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8633
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8626
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8630
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8630
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8644
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8645
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3309 - accuracy: 0.8640
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8626
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8634
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8633
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8636
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8626
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8630
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8639
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8645
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8646
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8651
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8634
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3309 - accuracy: 0.8637
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8634
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8644
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8644
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8633

Results and Evaluation

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print('Confusion Matrix:')
print(confusion_matrix(y_test,y_pred))
print('Classification Report')
print(classification_report(y_test,y_pred))
print('Accuracy Score:', accuracy_score(y_test,y_pred))

Confusion Matrix:
[[1521   74]
 [ 195  210]]
Classification Report
              precision    recall  f1-score   support

           0       0.89      0.95      0.92      1595
           1       0.74      0.52      0.61       405

    accuracy                           0.87      2000
   macro avg       0.81      0.74      0.76      2000
weighted avg       0.86      0.87      0.86      2000

Accuracy Score: 0.8655

Predicting a Single Value

In [ ]:
print(ann.predict(scaler.transform([[600,0,0,1,40,3,60000,2,1,1,50000]]))) #returns probability of leaving 
print(ann.predict(scaler.transform([[600,0,0,1,40,3,60000,2,1,1,50000]])) > 0.5) #adding threshold 0.5 for exit

[[0.02549165]]
[[False]]